.prof-area{
    font:bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #748c99;
    line-height: 4;
    text-transform: uppercase;
}

.menu-navigation-round {
    font:bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(96, 64, 32, 0.8);
}

.menu-navigation-round a {
    color: #748c99;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 20px auto;
    line-height: 2;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.menu-navigation-round a.selected {
    color: #ffffff;
    background-color: #9eb9cc;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 0 5px auto;
}

/* Making the navigation menu responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 600px) {
    .menu-navigation-round{
        display:none;
    }

    .slicknav_menu {
        display:block;
    }
}

/**
Adding user profile dropdown
**/

.userprof-dropdown {
    position: relative;
    display: inline-block;
}

.userprof-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.userprof-dropdown:hover .userprofdropdown-content {
    display: block;
}
/**End user Profile dropdown**/

/**To delete**/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/**End todelete**/