.booktable {
    border-collapse: collapse;
    overflow-x:auto;
    color:#86430e;
}
.w3-table, .w3-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: rgba(96, 64, 32, 0.8);
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

.bookholder{
    overflow-x:auto;
}