.user-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.user-td, -user-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.user-tr:nth-child(even) {
    background-color: #dddddd;
}